<nav role="navigation" class="home__nav">
      <a href="/auth/profile">Profile</a>
      <a href="/auth/products">Go Shopping!</a>
      <a href="/auth/cart">Cart</a>
      <a href="/auth/logout">Logout</a>
</nav>
